# Normalize EOL=LF
* text=auto

# Ignore files when export
.DS_Store export-ignore
Thumbs.db export-ignore

demo export-ignore
tests export-ignore
test export-ignore

sass export-ignore
less export-ignore

LICENSE export-ignore
CHANGELOG export-ignore
README export-ignore

.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore

*.yml export-ignore
*.lock export-ignore
*.md export-ignore
*.less export-ignore
*.scss export-ignore

package.json export-ignore
composer.json export-ignore
webpack.config.js export-ignore
.webpack.config.js export-ignore
.eslintrc.js export-ignore

# *.xml export-ignore
# *.map export-ignore
