# BEGIN: security rules
# -----------------------------------------------------

# Disable directory browsing
Options -Indexes

# Set headers
Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
Header always set X-Content-Type-Options nosniff
Header always set X-Frame-Options SAMEORIGIN
# Header always add Access-Control-Allow-Origin "https://elightup.com"

# Remove server info when 403
# ErrorDocument 403 /403.html

# Block access to XML-RPC
RedirectMatch 403 /xmlrpc.php

# Block access to .htaccess
<Files .htaccess">
    Order deny,allow
    Deny from all
</Files>

RewriteEngine On

# Block access to sensitive folders
RewriteRule (^|.*/)\.(\.git|svn|vendors|cache)/.* - [F]

# Disable PHP execution in uploads folder
RewriteRule ^wp\-content/uploads/.*\.php$ - [F]

# Disable PHP execution in plugins folder
RewriteRule ^wp\-content/plugins/.*\.php$ - [F]

# Disable PHP execution in themes folder
RewriteRule ^wp\-content/themes/.*\.php$ - [F]

# Disable PHP execution in wp-admin and wp-includes
RewriteRule ^wp-admin/includes/ - [F]
RewriteRule !^wp-includes/ - [S=3]
RewriteRule ^wp-includes/[^/]+\.php$ - [F]
RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F]
RewriteRule ^wp-includes/theme-compat/ - [F]

# Block author scanning. Enable will breack the default WP export functionality.
# RewriteCond %{QUERY_STRING} author=([0-9]*)
# RewriteRule .* /? [L,R=302]

# -----------------------------------------------------
# END: security rules

# BEGIN: performance rules
# -----------------------------------------------------

Header unset ETag
FileETag None

# Browser cache
ExpiresActive On
ExpiresDefault "access plus 1 year"
ExpiresByType text/html "access plus 1 day"

# Compress files
<FilesMatch ".(js|css|html|htm|php|xml|svg)$">
    SetOutputFilter DEFLATE
</FilesMatch>

# -----------------------------------------------------
# END: Performance rules

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
